<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MemoriesStorageExplorerApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher2_mse"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher2_mse_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MemoriesStorageExplorer"
        android:usesCleartextTraffic="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".ui.services.fileOperations.FileOperationsClipboardExecutorAndroidServiceImpl"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MemoriesStorageExplorer"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.pdfViewer.PdfViewerActivity"
            android:exported="true"
            android:label="@string/pdf_viewer_activity_name"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.imageViewer.ImageViewerActivity"
            android:exported="true"
            android:label="@string/image_viewer_activity_name"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.mediaPlayer.MediaPlayerActivity"
            android:exported="true"
            android:label="@string/video_player_activity_name"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.basicTextEditor.BasicTextEditorActivity"
            android:exported="true"
            android:label="@string/basic_text_editor_activity_name"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.htmlViewer.HtmlViewerActivity"
            android:exported="true"
            android:label="@string/text_viewer_activity_name"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.mediaCopy.MediaCopyActivity"
            android:exported="true"
            android:label="@string/media_copy_activity_name"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <!-- Images -->
                <data android:mimeType="image/*" />
                <!-- Videos -->
                <data android:mimeType="video/*" />
                <!-- Audio -->
                <data android:mimeType="audio/*" />
                <!-- PDF -->
                <data android:mimeType="application/pdf" />
                <!-- Archives (e.g., zip, tar) -->
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-tar" />
                <data android:mimeType="application/x-7z-compressed" />
                <data android:mimeType="application/x-rar-compressed" />
                <!-- HTML -->
                <data android:mimeType="text/html" />
                <!-- Plain text -->
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

</manifest>